/*
    font-family: sweet-sans-pro,sans-serif;
    font-weight: 500, 700, 800, 900;
    font-style: normal;  italic if 500 weight
*/

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */ 
}
body {
    font-family: sweet-sans-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

#header-section {
    background-image: url("../images/header-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: fit;
    background-attachment: fixed;
    background-position: bottom right;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}


#top-navigation-container {
    overflow: hidden;
}

#navigation-logo {
    margin-top: 30px;
    margin-left: 10vw;
    font-weight: 700;
    color: #fff;
    float: left;
}

#navigation-logo a {
    font-size: 20px !important;
}

#navigation-links {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    text-align: center;
    margin-right: 10vw;
}

#navigation-links li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

#navigation-links li:last-child {
    padding-right: 0;
}

#top-navigation-container a {
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

#top-navigation-container a:hover {
    color: rgb(225, 225, 225);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#top-navigation-container a.active {
    color: #5081da;
}

#hero-container {
    display: flex;
    flex-direction: row;
}

#hero-container__text {
    margin: 25vh 0 0 20vw;
    line-height: 85px;
    color: #fff;
    width: 450px;
    animation-duration: 1.5s;
    animation-name: bounceIn;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}


#hero-container__text h1 {
    font-size: 72px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 50px;
}


#hero-container__image img {
    width: 600px;
    margin-right: 400px;
    margin-top: 125px;
    animation-duration: 1.5s;
    animation-name: bounceIn;
}

.redirect-button {
    font-size: 18px;
    color: #fff;
    background-color: #5081da;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.redirect-button:hover {
    padding: 16px 21px 16px 21px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.75);
}

.redirect-button:active {
    padding: 14px 19px 14px 19px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);
}

#quotes-section {
    overflow: hidden;
    width: 100vw;
    max-width: 100%;
    height: 250px;
    background-color: #5081da;
    margin: 0;
}

.center {
    text-align: center;
}

#quotes-section h2 {
    margin-top: 25px;
    font-weight: 700;
    color: #fff;
}