/*
    font-family: sweet-sans-pro,sans-serif;
    font-weight: 500, 700, 800, 900;
    font-style: normal;  italic if 500 weight
*/

:root {
    --main-blue-color: #1f4287;
    --darker-blue-color: #002651;
    --lighter-blue-color: #5081da;
    --green-color: #4ddb86;
    --red-color: #ff304f;
}

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}
body {
    font-family: sweet-sans-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

#header-section {
    background-image: url("../images/header-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    min-height: 750px;
    max-width: 100%;
}

.header-section--smaller {
    height: 700px !important;
}

.less-margin-top {
    margin-top: -50px;
}


#top-navigation-container {
    overflow: hidden;
}

#navigation-logo {
    margin-top: 30px;
    margin-left: 10vw;
    font-weight: 700;
    color: #fff;
    float: left;
}

#navigation-logo a {
    font-size: 20px !important;
}

#navigation-links {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    text-align: center;
    margin-right: 10vw;
}

#navigation-links li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

#navigation-links li:last-child {
    padding-right: 0;
}

#top-navigation-container a {
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

#top-navigation-container a:hover {
    color: rgb(225, 225, 225);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#top-navigation-container a.active {
    color: var(--green-color);
}

#hero-container {
    display: flex;
    flex-direction: row;
}

#hero-container__text {
    margin: 25vh 0 0 20vw;
    line-height: 85px;
    color: #fff;
    width: 450px;
    animation-duration: 1.5s;
    animation-name: bounceIn;
}

@keyframes floating {
    from { -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg); }
    to { -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg);}
}
@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}


#hero-container__text h1 {
    font-size: 72px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 25px;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
}


#hero-container__image img {
    width: 600px;
    margin-right: 400px;
    margin-top: 125px;
    animation: floating 10s linear infinite;
}

.redirect-button {
    font-size: 18px;
    color: var(--green-color);
    
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: 3px solid var(--green-color);
}

.redirect-button:hover {
    padding: 16px 21px 16px 21px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.redirect-button:active {
    padding: 14px 19px 14px 19px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.35);
}

.redirect-button--small {
    font-size: 14px;
    background-color: var(--lighter-blue-color);
    color: #fff;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.redirect-button--small:hover {
    padding: 11px 16px 11px 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}
.redirect-button--small:hover {
    padding: 10px 15px 10px 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
}
#quotes-section {
    overflow: hidden;
    width: 100vw;
    max-width: 100%;
    height: 250px;
    background-image: linear-gradient(to bottom right, var(--darker-blue-color), var(--main-blue-color));
    margin: 0;
}

.center {
    text-align: center;
}

#quotes-section h2 {
    margin-top: 40px;
    font-weight: 700;
    color: #fff;
}

#quote-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
}

.quote-text {
    text-align: center;
    width: 225px;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    color: #fff;
    margin-left: 25px;
    margin-right: 25px;
}

.info-section {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 175px;
}

.info-text-container {
    max-width: 650px;
    margin-top: 125px;
    margin-right: 25px;
}

.info-section__heading {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}

.info-section__paragraph {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
    max-width: 550px;
}

.space-top {
    margin-top: 25px !important;
}
.space-bottom {
    margin-bottom: 50px;
}
.space-right {
    margin-right: 75px;
}
.info-section__image {
    max-width: 400px;
    margin-top: 175px;
}

#latest-launches-section {
    overflow: hidden;
    width: 100vw;
    max-width: 100%;
    height: 350px;
    margin: 0;
    text-align: center;
    
}

#latest-launches-heading {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.space-left {
    margin-left: 150px;
}

#latest-launches-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.latest-launches-card {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    width: 450px;
    height: 250px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.latest-launch-card__text-container {
    margin-top: 20px;
    margin-bottom: 25px;
}
.latest-launches__text {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.bold-text {
    font-size: 18px !important;
    font-weight: 700 !important;
}

footer {
    overflow: hidden;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom right, var(--darker-blue-color), var(--main-blue-color));
    
}

#navigation-links__footer {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    text-align: center;
}

#navigation-links__footer a {
    text-decoration: none;
    color: #fff;

}

.footer-logo {
    font-size: 18px !important;
    font-weight: 700;
}

#navigation-links__footer li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

#navigation-links__footer a:hover {
    color: rgb(225, 225, 225);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero-container-launches-info{
    margin-top: -30px;
    font-size: 20px;
    font-weight: 700;
}

#launches-section {
    text-align: center;
}

#launches-section-heading {
    margin-top: 75px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
}

.all-launches-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.launch-info-container {
    background-image: linear-gradient(to bottom right, var(--darker-blue-color), var(--main-blue-color));
    padding: 25px 10px 25px 10px;
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.35);
}

.launch-info-container__text-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.launch-info__paragraph {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}


@media only screen and (max-width: 1650px)  {
    #hero-container__image img {
        width: 500px;
        margin-right: 50px;
    }
}


@media only screen and (max-width: 1280px)  {
    #hero-container__image img {
        width: 400px;
        margin-right: 0px;
        margin-top: 200px;
    }

    .space-left {
        margin-left: 50px;
    }
    .info-text-container {
        margin-left: 35px;
    }
}

@media only screen and (max-width: 900px)  {
    #hero-container__image img {
        display: none;
    }

    #quotes-section {
        display: none;
    }

    #latest-launches-section {
        display: none;
    }

    .info-section__image {
        margin-top: 50px;
    }

    .info-section {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 175px;
    }

    .all-launches-container {
        flex-direction: column;
    }

    .launch-info-container {
        flex-direction: column;
    }

    .launch-info-container__text-container  {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .info-section__image {
        display: none;
    }

    #hero-container__text {
        text-align: center;
        margin: 0;
        margin-top: 10vh;
    }
    #hero-container__text h1 {
        font-size: 32px;
        font-weight: 900;
        margin: 0;
        margin-bottom: 25px;
    }

    #header-section {

        height: 60vh;
        max-width: 100%;
    }

    .space-left {
        margin: 25px;
    }
    
    .space-right {
        margin: 0;
    }

    .info-section {
        margin-right: 5px;
        margin-left: 5px;
    }
}